@font-face {
    font-family: 'Exo';
    src: url('../fonts/Exo_1.0.ttf');
}

*, html{
    margin:  0 ;
    padding: 0 ;
    font-family: Exo;
}
/* ********************************************* */
.top-block{
    /* width: 100vw; */
    height: 100vh;
    background-image: url('https://static.tildacdn.com/tild6633-3134-4661-b832-363839653137/95_1.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
}
.menu-top-block{
    height: 5%;
    color: white;
    padding-bottom: 2%;
    padding-top: 2%;
    background-color: rgba(58, 30, 7, 0.699);
    backdrop-filter: blur(5px);
}
.menu-top-block h1{
    display: block;
    float: left;
    margin-left: 5px;
    font-size: 50px;
}
.menu-top-block img{
    width: 7%;
    display: block;
    float: left;
    margin-left: 50px;
}
.menu-top-block ul{
    list-style-type: none;
    display: block;
    float: right;
    font-size: 25px;
    font-weight: 600;
    margin-left: 0;
    padding-left: 0;
}
.menu-top-block li{
    display: inline;
    padding-right: 35px;
}
.menu-top-block a{
    text-decoration: none;
    color: white;
}
.content-top-block{
    position: absolute;
    margin: 0;
    left: 51%;
    top: 51%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
.content-top-block h1{
    color: white;
    font-size: 100px;
    margin-bottom: 10%;
    font-weight: 900;
}
.content-top-block span{
    font-weight: 500;
}
.content-top-block a{
    color: white;
    font-size: 30px;
    font-weight: 900;
    text-align: center;
    text-decoration: none;
    margin-left: 32%;
    padding: 2%;
    background-color: rgba(58, 30, 7, 0.699);
    backdrop-filter: blur(5px);
}
.content-top-block a:hover{
    background-color: rgba(29, 34, 110, 0.699);
    transition: 0.4s;
}


.garant-block{
    margin-bottom: 5%;
}
.main-text {
    display: block;
    font-size: 50px;
    text-align: center;
    margin-bottom: 2%;
    padding-top: 2%;
}
.line{
    width: 10%;
    height: 5px;
    margin-left: 45%;
    background-color: black;
    margin-bottom: 5%;
}
.grant{
    height: 35vh;
    display: flex;
    margin-bottom: 2%;
    padding: 2%;
}
.grant img{
    width: 30vw;
    height: 35vh;
    float: left;
    margin-right: 5%;
    /* border-radius: 200px; */
    /* box-shadow: 0px 0px 30px black; */
}
.grant img:hover{
    transition: 0.4s;
    /* border-radius: 200px; */
    box-shadow: 0px 0px 30px black;
}
.text-garant h1{
    display: block;
    font-size: 35px;
}
.text-garant h3{
    display: block;
    font-size: 20px;
}




.main-block-info-company{
    color: white;
    background-color: rgb(58, 30, 7);
}
.info-conpany{
    padding: 0% 2% 2% 2%;
}
.info-conpany img{
    width: 30vw;
    height:75vh;
    margin-left: 5%;
}
.info-conpany img:hover{
    transition: 1s;
    
}
.text-info{
    width: 50%;
    display: block;
    float: right;
    word-break: break-all;
    margin-right: 5%;
    margin-top: 8%;
}
.text-info h2{
    display: block;
    font-size: 30px;
}
.text-info h3{
    display: block;
}





.photo-grid{
    padding: 0% 2% 2% 2%;
}
.photo-grid img{
    width: 32%;
    height: 30%;
    margin-left: 0.5%;
    margin-right: 0.5%;
}



.main-block-send{
    color: white;
    background-color: rgb(58, 30, 7);
}
.send-email{
    padding: 0% 2% 2% 2%;
}
.send-email img{
    width: 40vw;
    height:70vh;
}
.send-email{
    display: block;
}
.send-email h2{
    display: block;
    font-size: 35px;
    text-align: center;
}
.send-email h3{
    display: block;
    font-size: 30px;
}
.text-send{
    display: block;
    float: right;
    margin-right: 10%;
}





.bottom-block{
    /* width: 100vw; */
    height: 15vh;
    background-image: url('https://static.tildacdn.com/tild6633-3134-4661-b832-363839653137/95_1.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    margin-top: 2%;
    padding: 2%;
}
.menu-bottom-block{
    height: 5%;
    color: white;
    padding-bottom: 2%;
    padding-top: 1%;
}
.menu-bottom-block h1{
    display: block;
    float: left;
    margin-left: 25px;
}
.bottom-block img{
    width: 5%;
    display: block;
    float: left;
    margin-left: 50px;
}
.menu-bottom-block ul{
    list-style-type: none;
    display: block;
    float: right;
    font-size: 33px;
    font-weight: 600;
    margin-left: 0;
    padding-left: 0;
    
}
.menu-bottom-block li{
    display: inline;
    padding-right: 50px;
}
.menu-bottom-block a{
    text-decoration: none;
    color: white;
}