@font-face {
    font-family: 'Exo';
    src: url('/fonts/Exo_2.0_Thin.ttf');
}

*, html{
    margin:  0 ;
    padding: 0 ;
    font-family: Exo;
}
/* ********************************************* */
.main-window-block{
    width: 100vh;
    height: 100vh;
}
.top-block{
    width: 100vh;
    height: 100vh;
    background-image: url('https://media.sketchfab.com/avatars/c39ae388d052451ebbee1b73716cb8ad/1e467e0b35ba4650b208255925e03e05.jpg');
}
